.container{
    margin: top 8px;
}
.inner{
    overflow:hidden;
}
.inner img{
    transition: all 1.5s ease-in;
}
.inner:hover img{
    transform: scale(1.5);
}
.container{
    margin: top 8px;
}
#inner1{
    overflow:hidden;
}
#inner1 img{
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
#inner1:hover img{
    transform: scale(1.5);
}

h1, p {
    margin: 0;
    padding: 0;
}

.container{
    margin: top 8px;
}
.outer{
    overflow:hidden;
}
.OUTER img {
    transform: rotate(0deg) scale(1);
    transition: transform 0.5s ease-in-out;
}

.OUTER:hover img {
    transform: rotate(360deg) scale(1.1);
}
.container{
    margin: top 8px;
}
.inner2{
    overflow:hidden;
}
.inner2 img{
    transition: all 1.5s ease-in;

}
.inner:hover img{
    transform: scale(1.5);
}

#footer_menu{
    font-size: 18px; text-decoration: none; color: white;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }